<div>
    <h1 class="heading">Registration</h1>
    <form id="save-registration" action="">
        <label for="display-name">Name:</label>
        <input type="text" name="displayname" id="displayname">
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" id="phone">
        <label for="password">Passcode:</label>
        <input type="password" name="password" id="password">
        <label>&nbsp;</label>
        <input type="submit" value="Register">
    </form>
    <script src="js/lib/jquery-2.2.3.min.js"></script>
    <script src="js/lib/jquery.mobile-1.4.5.min.js"></script>
</div>
