<div data-role="content">
    <h1 class="heading">VAT Return</h1>
    <form id="new-vat-return">
        <div data-role="tabs">
            <div data-role="navbar">
                <ul>
                    <li><a href="#newone" data-theme="a" data-ajax="false" id="menu-nav-one" class='ui-btn-active'>1</a></li>
                    <li><a href="#newtwo" data-theme="a" data-ajax="false" id="menu-nav-two">2</a></li>
                    <li><a href="#newthree" data-theme="a" data-ajax="false" id="menu-nav-three">3</a></li>
                    <li><a href="#newfour" data-theme="a" data-ajax="false" id="menu-nav-four">4</a></li>
                </ul>
            </div>
            <div id="newone" class="ui-content return-form">
                <h1> Sales </h1>
                <label for="sales-general"> Sales General Rate 16% </label>
                <input type="text" name="sales-general" id="sales-general" placeholder="0.00">
                <label for="sales-zero"> Sales Zero Rate 0% </label>
                <input type="text" name="sales-zero" id="sales-zero" placeholder="0.00">
                <label for="sales-special"> Sales Special Rate 12% </label>
                <input type="text" name="sales-special" id="sales-special" placeholder="0.00">
                <label for="sales-exempt"> Exempt Sales </label>
                <input type="text" name="sales-exempt" id="sales-exempt" placeholder="0.00">
                <div class="total" id="total-sales"><label>Total Sales: <label><p>KES 0.00</p></div>               
            </div>
            <div id="newtwo" class="ui-content return-form">
                <h1> Expenses </h1>
                <label for="purchases-general"> Purchases General Rate 16% </label>
                <input type="text" name="purchases-general" id="purchases-general" placeholder="0.00">
                <label for="purchases-zero"> Purchases Zero Rate 0% </label>
                <input type="text" name="purchases-zero" id="purchases-zero" placeholder="0.00">
                <label for="purchases-special"> Purchases Special Rate 12% </label>
                <input type="text" name="purchases-special" id="purchases-special" placeholder="0.00">
                <label for="purchases-exempt"> Exempt Purchases </label>
                <input type="text" name="purchases-exempt" id="purchases-exempt" placeholder="0.00">                
                <div class="total" id="total-purchases"><label>Total Purchases: <label><p>KES 0.00</p></div>
            </div>
            <div id="newthree" class="ui-content return-form">
                <h1> Credits and Adjustments </h1>
                <label for="vat-imported">VAT on Imported Goods and Services</label>
                <input type="text" name="vat-imported" id="vat-imported" placeholder="0.00">
                <label for="vat-withheld">Withheld VAT Amounts</label>
                <input type="text" name="vat-withheld" id="vat-withheld" placeholder="0.00">
                <label for="other-credit">Other Credit Adjustments</label>
                <input type="text" name="other-credit" id="other-credit" placeholder="0.00">               
                <div class="total" id="total-credits"><label>Total Credits: <label><p>KES 0.00</p></div>
            </div>
            <div id="newfour" class="ui-content">
                <h1> Calculation </h1>                
                <div class="calculation" id="output-vat"><label> + Output VAT: <label><p>KES 0.00</p></div>                
                <div class="calculation" id="input-vat"><label> - Input VAT: <label><p>KES 0.00</p></div>                
                <div class="calculation" id="withheld-vat"><label> - Withheld VAT: <label><p>KES 0.00</p></div>
                <h1 id="vat-due">VAT Due: KES 0.00</h1>
                <input type="submit" value="Submit Return">
                <button id="save-return">Save For Later</button>
            </div>            
        </div>
    </form>
</div>
