<div>
    <h1 class="heading">Registration</h1>
    <form id="save-registration" action="">
        <label for="display-name">Name:</label>
        <input type="text" name="displayname" id="displayname">
        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" id="phone">
        <label for="password">Passcode:</label>
        <input type="password" name="password" id="password">
        <label for="password">Confirm Passcode:</label>
        <input type="password" name="password2" id="password2">
        <label>&nbsp;</label>
        <input type="submit" value="Register">
    </form>
</div>
